.img img{
     width: 70px;
}
.details{
     margin-left: 20px;
}
.details .title{
     font-size: 18px;
}
.details .priceCart{
     margin-top: 10px;
     font-weight: 500;
     color: #666;
}
.removeFromCart{
     border: none;
     text-transform: capitalize;
     border-bottom: 1px solid black;
     background-color: transparent
}
input.cartInput{
     position: absolute;
     width: 60px;
     right: 20px;
}