.cart{
     /* width: 500px; */
     background-color: white;
}

.productInfo{
     display: flex !important;
}
.offcanvas-body{
     z-index: 777777777 !important;
}
.cart .cartFoot{
     bottom: 0;
}