nav.navbar.bg-body-tertiary{
     text-transform: capitalize;
     /* background-color: transparent !important; */
     height: 100px;
     z-index: 333;
}
nav .collapse.show{
     background-color: #f8f9fa!important;
     z-index: 333;
}
nav .container{
     display: flex !important;
     justify-content: space-around !important;
     align-items: baseline !important;
}
a.navbar-brand{
     font-weight: bold;
     font-size: 25px;
     letter-spacing: 2px;
     /* margin-right: 70px !important; */
}
nav .container a.nav-link{
     margin-right: 30px !important;
     font-size: 18px;
     
}
nav form{
     width: 250px;
     height: 40px;
     border-radius: 20px;
     border: 1px solid #cccccc;
     overflow: hidden;

}
nav form input{
     border: none !important;
}
nav form input::placeholder{
     color: #cccccc !important;
     height: 100%;
     padding: 10px;
     font-size: 14px ;

}
nav form input:focus{
     border: none !important;
     outline: none !important;
}
nav form button{
     border: none !important;

}
nav form button svg{
     font-size: 23px;
     color: #9c9b9b ;
     
}
nav .catIcon ,
 nav a{
     text-decoration: none ;
     color: #9c9b9b !important ;
     font-size: 23px;
     margin: auto 10px;
}
button.cartIcon{
     width: fit-content !important;
     border: none;
     background-color: transparent ;
}
nav .cartIcon .count{
     display: inline-block;
     width: 20px;
     height: 20px;
     text-align: center;
     margin-left: -5px;
     margin-top: 10px;
     padding: 2px;
     font-size: 11px;
     border-radius: 50%;
     background-color: #333;
     color: white;
     opacity: 0.8;
}